@use '../../globalVars' as v;

$pad: 0.4rem;
$progress-bar-height: 0.2rem; // Define a consistent height for the progress line/bar
$progress-color: rgb(33, 150, 243);

.cube-card {
    width: 8rem;
    padding: $pad;
    border-radius: v.$border-radius;


    .photo {
        box-shadow: 0.05rem 0.2rem 0.8rem rgba(0, 0, 0, 0.2);

        width: 100%;
        height: 5rem;
        border-radius: v.$border-radius;
        margin-right: $pad;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bottom {
        margin-top: $pad;

        .name {
            font-weight: bold;
        }

        .progress-bar-container {
            position: relative;
            width: 100%;
            height: $progress-bar-height;
            margin: $pad auto; // Use margin for vertical spacing

            .line-breaker {
                margin: 0;

                position: absolute;
                top: 0;
                left: 0;

                border: none;
                background-color: rgb(125, 125, 125);
                width: 100%;
                height: $progress-bar-height;
                border-radius: v.$border-radius;
            }

            .progress-bar {
                position: absolute;
                top: 0;
                left: 0;


                background-color: $progress-color;
                width: 0;
                height: $progress-bar-height;
                border-radius: v.$border-radius;

                border: none;
                margin: 0;

                transition: width 0.3s ease-in-out;
            }
        }



        .mile-count {
            color: rgb(125, 125, 125);
            font-size: 0.6rem;
        }

    }
}