@use '../../globalVars' as v;

.log-list-item-container {
    display: flex;
    padding: 0.8rem 0;
    border-radius: v.$border-radius;

    .item-section {
        span {
            font-size: 1rem;
        }
    }
}